.views-carousel-container {
  width: 100%;
  overflow: hidden;
}

.views-carousel-items-container {
  left:0;
  overflow:hidden;
  position:relative;
  width:200000px;
}

.views-carousel-item-container {
  float: left;
  padding: 0 5px 40px 0;
}

.views-carousel-item-controls {
  clear: both;
}

.views-carousel-item-controls .views-carousel-controller {
  display: none;
}

.views-carousel-controller-left {
  width: 80px; 
  height: 40px; 
  float: left;
}

.views-carousel-controller-left img {
  position: absolute;
  left: 5px;
  top: 11px; 
}

.views-carousel-controller-left .control-text {
  position: absolute;
  left: 40px;
  top: 18px; 
}

.views-carousel-controller-right {
  width: 80px; 
  height: 40px; 
  float: right;
}

.views-carousel-controller-right img {
  position: absolute;
  left: 55px;
  top: 11px; 
}

.views-carousel-controller-right .control-text {
  position: absolute;
  left: 20px;
  top: 18px; 
}



